@mixin SearchButton(
  $class: 'search-button',
  $width: 36px,
  $height: 36px,
  $background-color: rgb(79, 195, 247),
  $background-color-hover: rgb(59, 175, 227),
  $background-color-dark: rgb(20, 40, 40),
  $background-color-dark-hover: rgb(40, 60, 80),
) {
  .#{$class} {
    width: $width;
    height: $height;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: calc(100% - #{$width} + 4px);
    
    transition: .25s background-color linear;

    img {
      width: 50%;
      height: 50%;
    }

    &.reading.light {
      background-color: $background-color;

      &:hover {
        background-color: $background-color-hover;
        cursor: pointer;
      }
    }

    &.reading.dark {
      background-color: $background-color-dark;
      &:hover {
        background-color: $background-color-dark-hover;
        cursor: pointer;
      }
    }

    &.searching {
      background-color: gray;
      pointer-events: none;
    }

    &.error-animation {
      background-color: red;
      pointer-events: none;

      &.dark {
        background-color: darkred;
      }
    }
  }
}