@mixin Sorter(
  $class: '',
  $width: auto,
  $filter-height: 32px,
) {
  .filter-#{$class} {
    display: inline-block;
    width: $width;

    select {
      width: 100%;
      height: $filter-height;
    }

    &.dark {
      select {
        border: 1px solid white;
        background: transparent;
        color: gray;
        outline: none;
      }
    }
  }
}