@import './components/SearchBar/SearchBar.scss';
@import './components/Header/Header.scss';
@import './components/Content/Content.scss';
@import './components/SearchButton/SearchButton.scss';
@import './components/SearchResults/SearchResults.scss';
@import './components/SearchResult/SearchResult.scss';
@import './components/SearchFilters/SearchFilters.scss';
@import './components/Sorter/Sorter.scss';
@import './components/ThemeSwitcher/ThemeSwitcher.scss';
@import './components/Block/Block.scss';

@include Content($class: 'content-top');
@include Content($class: 'content-results');
@include SearchBar($width: 50%);
@include Header($width: 50%);
@include SearchButton();
@include SearchResults();
@include SearchResult();
@include SearchFilters();
@include Sorter($class: 'alphabet');
@include ThemeSwitcher();
@include Block(
  $class: 'header-block',
  $background-color: rgba(230, 230, 230, 1),
  $background-color-dark: rgba(10, 10, 5, .8)
);
@include Block($class: 'results-block', $background-color-dark: none);

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App.dark {
  background-color: black;
}
.header-block {
  overflow: hidden;
  .searchbar-wrapper {
    margin-bottom: 36px;
  }
}

.results-block {
  margin-left: 24px;
  margin-right: 24px;
}
